<%= render "shared/navbar" %>
<p class="title mt-4">Listing your bookings</h1>


<div class="article-container">
  <br>

  <div class="cards-container">
    <% @bookings.each do |booking| %>

        <div class="booking-product-card">
        <% if booking.instrument.photo.attached? %>
          <div class="img-bg" style="background-image:url('<%= cl_image_path booking.instrument.photo.key, height: 300, crop: :fill %>')";></div>
        <% else %>
          <div class="img-bg-none"><p>No Image</p></div>
        <% end %>
          <div class="product-content">
            <p><%= booking.instrument.name %></p>
            <p>Duration: <%= booking.start %> | <%= booking.end %></p>
            <p>Owner: <%= booking.user.first_name %></p>
            <p>Price: Rs<%= booking.instrument.price %> / Day</p>
            <p class="mt-3"><%= link_to "Leave a review", instrument_path(booking.instrument) , class: "leave-review-btn" %></p>
          </div>
        </div>

    <% end %>
  </div>
<br><br><br>

</div>
