<%= render "shared/navbar" %>
<%= render "shared/banner" %><br><br>
<p class="title">Music Instruments around the world</p>
<div class="article-container">
  <br>

  <div class="cards-container">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument), :action => 'go' do %>
        <div class="product-card">
          <div class="img-bg" style="background-image:url('<%= cl_image_path instrument.photo.key, height: 300, crop: :fill %>')";></div>
          <div class="product-content">
            <div class="content-top">
              <p><%= instrument.name %></p>
              <p><i class="fa-solid fa-star"></i> 0</p>
            </div>
            <p>Rs<%= instrument.price %> / Day</p>
            <%# <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
    <br><br><br>
