<%= render "shared/navbar" %>
<%= render "shared/banner" %><br><br>
<%= render "shared/search_form" %>
<br><br>

<p class="title">Music Instruments around the world</p>
<div class="article-container">
  <br>

  <div class="cards-container">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument), :action => 'go' do %>
        <div class="product-card">
        <% if instrument.photo.attached? %>
          <div class="img-bg" style="background-image:url('<%= cl_image_path instrument.photo.key %>')";></div>
        <% else %>
          <div class="img-bg-none"><p>No Image</p></div>
        <% end %>
          <div class="product-content">
            <div class="content-top">
              <p><%= instrument.name %></p>
              <p><i class="fa-solid fa-star"></i> <%= rand(0..5) %></p>
            </div>
            <p><strong>Price:</strong> Rs<%= instrument.price %> / Day</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<br><br><br>

</div>

<article>
  <div class="article-text">
    <h3>A place to find your instruments</h3>
    <p>We are slowed down sound and light waves, a walking bundle of frequencies tuned into the cosmos. We are souls dressed up in sacred biochemical garments and our bodies are the instruments through which our souls play their music.</p>
    <br>
    <p><%= link_to "Browse our range" %></p>
  </div>
</article>
<br><br>
<p class="title-footer">We work with some of the world's leading companies</p>
<footer>
  <p><i class="fa-brands fa-slack"></i>  Slack</p>
  <p><i class="fa-brands fa-square-facebook"></i>  Facebook</p>
  <p><i class="fa-brands fa-twitter"></i>  Twitter</p>
</footer>
<br>
