<%= render "shared/navbar" %>
<div class="container mt-4">
  <%= simple_form_for(@instrument) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add instrument", class: "btn btn-primary" %>
  <% end %>
</div>
