<%= render 'shared/navbar' %>

<div class="container">
  <br><br>
  <h1 class='text-center'>My Posts</h1>
  <% @posts.each do |post| %>
    <p>Name: <%= post.name %></p>
    <p>Description: <%= post.description %></p>
    <p>Price/day: <%= post.price %></p>
    <p>Posted on: <%= post.created_at %></p>
  <% end %>
</div>
