<%= render "shared/navbar" %>
<div class="container mt-4">

  <section class="main-card">
    <div class="card-content">
        <div class="content-left">
          <% if @instrument.photo.attached? %>
            <%= cl_image_tag @instrument.photo.key, class: "full-img" %>
          <% else %>
            <div class="full-img show-img-bg-none"><p>No Image</p></div>
          <% end %>
        </div>
        <div class="content-right">
            <h2 class="strong"><%= @instrument.name %></h2>
            <p><%= @instrument.description %></p>
            <p>Rs <%= @instrument.price %> / day</p>
            <p class="strong">Owner: <%= @instrument.user.first_name %></p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">BOOK</button>
        </div>
    </div>
  </section>
  <br><br>
  <h3 style="text-align:center;">Reviews</h3>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @booking do |f| %>
          <%= f.label :Start %>
          <%= f.date_field :date %>
          <%= f.label :End %>
          <%= f.date_field :date %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
