<%= render "shared/navbar" %>
<div class="container mt-4">

  <div class="container-show">
    <section class="main-card mb-4">
      <div class="card-content">
          <div class="content-left">
            <% if @instrument.photo.attached? %>
              <%= cl_image_tag @instrument.photo.key, class: "full-img" %>
            <% else %>
              <div class="full-img show-img-bg-none"><p>No Image</p></div>
            <% end %>
          </div>
          <div class="content-right">
              <h2 class="strong"><%= @instrument.name %></h2>
              <p><%= @instrument.description %></p>
              <p>Rs <%= @instrument.price %> / day</p>
              <p class="strong">Owner: <%= @instrument.user.first_name %></p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">BOOK</button>
          </div>
      </div>
    </section>
    <div style="width: 40%; height: 470px;"
        data-controller="map"
        data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <h3 class="my-4" style="text-align:center;">Reviews</h3>

  <div class="reviews-form">
    <%= simple_form_for [@instrument, @review] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit "Add review", class: "btn btn-primary" %>
    <% end %>
  </div>
  <br><br><br>

  <% @reviews.each do |review| %>
    <div class="review-container">
      <p style="text-align:center;">
        <%= '⭐'*review.rating %>
      </p>

      <p style="text-align:center;">“<%= review.comment %>”</p>
      <p class="user"> - <%= review.booking.user.first_name %> <%= review.booking.user.last_name %>
        <span>
          <% if review.booking.user.photo.attached? %>
            <%= cl_image_tag review.booking.user.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
          <% end %>
        </span>
      </p>
    </div>
    <br><br>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@instrument, @booking] do |f| %>
          <%= f.input :start %>
          <%= f.input :end %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@instrument, @booking] do |f| %>
          <%= f.input :start %>
          <%= f.input :end %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
